#tasks {
  padding: 0;
  margin: 16px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tasks a {
  color: var(--text);
  text-decoration: none;
}

#tasks li > button {
  background-color: transparent;
  height: 100%;
  color: var(--text);
  height: 30.1px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

#tasks li > span {
  display: flex;
  gap: 10px;
  align-items: center;
}

#tasks li > span > span {
  padding: 5px;
  border-radius: 5px;
}