#attachments {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#attachments a {
  text-decoration: none;
  word-break: break-word;
}

#attachments li > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#attachments li > section > section {
  display: flex;
  flex-direction: column;
}

#attachments li > section > button {
  background-color: transparent;
  box-shadow: none;
  color: var(--text);
  padding: 0;
  height: 24px;
  width: 24px;
}