#list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#list, #main, .labelDescription, #listContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#list > li {
  border-radius: 5px;
  padding: 15px;
  box-shadow: var(--box-shadow-default);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 15px;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.labelActions {
  display: flex;
  gap: 15px;
}

.labelBaseInfo {
  display: flex;
  justify-content: space-between;
}

.labelBaseInfo > button {
  padding: 0;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 0;
  height: 24px;
}

.labelDescription {
  margin: 0 -15px -15px;
  padding: 15px;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}

#main {
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100% - var(--height-header));
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1080px;
  width: 100%;
}