#button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--text);
  gap: 5px;
  padding: 0 7px;
  max-width: 246px;
  height: 40px;
  border: 1px solid var(--border);
  height: 100%;
}

#name {
  display: none;
}

@media screen and (min-width: 400px) {
  
  #button {
    padding: 0 10px;
  }

  #name {
    display: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}