#description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#description [placeholder]:empty::before {
  content: attr(placeholder);
  color: #b8b8b8; 
  cursor: text;
  pointer-events: none;
}

#description [placeholder]:empty:focus::before {
  content: "";
}

#details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px 15px;
  overflow-y: auto;
}

#details > section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#details > section > label {
  display: flex;
  gap: 5px;
  align-items: center;
  min-height: 24px;
}

.expired {
  color: var(--text-red);
}

#placeholder {
  position: fixed;
}

#taskName {
  padding: 15px 0 0;
}