

#description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#description [placeholder]:empty::before {
  content: attr(placeholder);
  color: #b8b8b8; 
  cursor: text;
  pointer-events: none;
}

#description [placeholder]:empty:focus::before {
  content: "";
}

#details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

#details > section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#details > section > label {
  display: flex;
  gap: 5px;
  align-items: center;
  min-height: 24px;
}

.expired {
  color: var(--text-red);
}

#placeholder {
  position: fixed;
}

#popupContent > nav {
  border-bottom: 1px solid var(--border);
  margin: 0 -15px;
  padding: 0 15px 15px;
}

#popupContent > nav > button {
  background-color: transparent;
  font-weight: 300;
  padding: 5px 10px;
  color: var(--text);
}

#popupContent > nav > button.selected {
  font-weight: 400;
  color: var(--link);
  background-color: var(--link-selected);
}