#calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#eventButtonContainer {
  display: none;
}

#month {
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  color: var(--text);
  margin: 26px 26px 0;
}

#month > span {
  font-weight: 300;
}

#days {
  border-radius: 5px;
  margin: 15px;
  box-shadow: var(--box-shadow-default);
  background-color: white;
}

#days ul {
  margin: 0;
}

#days ul, #labels {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

#days button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-weight: 100;
  color: var(--text);
  background-color: white;
}

#days button.hover {
  filter: brightness(1.1);
}

#labels {
  margin: 15px;
}

#labels li {
  font-weight: bold;
}

button#today {
  background-color: var(--button);
  color: white;
  box-shadow: var(--box-shadow-default);
}

button.selected {
  background-color: #cacaca;
  color: white;
}

#days .dateOutsideMonth {
  color: rgb(168, 168, 168);
}

#schedule {
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: white;
}

#timeLists {
  height: calc(100% - 92px);
  margin: 0;
  padding: 0;
  list-style: none;
}

#timeLists > li {
  display: flex;
  gap: 20px;
  height: 50px;
}

#timeLists > li > span {
  flex-shrink: 0;
  width: 50px;
}

#timeLists > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#timeLists > li > ul > li {
  border-top: 1px dashed rgb(205, 205, 205);
}

#timeLists > li > ul > li:first-of-type {
  border-top: 1px solid rgb(191, 191, 191);
}

#timeLists > li > ul > li {
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  padding: 0;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

#timeOverlay {
  position: relative;
  width: calc(100% - 70px);
  margin-left: 70px;
}

#currentTimeBar {
  height: 2px;
  width: 100%;
  background-color: rgb(0, 157, 255);
  position: relative;
}

#timeEvents {
  overflow: auto;
}

.selectedDate {
  display: none;
}

#timeLists li.backgroundSelected {
  background-color: #f1f1f1;
}

@media screen and (min-width: 670px) {

  #calendar {
    flex-direction: row;
  }

  #schedule {
    flex-grow: 1;
    height: initial;
    margin: 0;
    box-shadow: var(--box-shadow-default);
  }

  #timeLists {
    height: initial;
  }

  #eventButtonContainer {
    display: block;
  }

  .selectedDate {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

}