header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: var(--height-header);
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 15px;
}

#accountButton {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 200;
  flex-shrink: 0;
}

#avatarContainer {
  height: 30px;
  width: 30px;
  background-color: gray;
  display: flex;
  flex-shrink: 0;
  border-radius: 100%;
}

#left {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}

#left > section {
  height: 100%;
}

#left a {
  font-size: 17px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

#left > nav, #nameContainer {
  display: none;
}

#right {
  display: flex;
  gap: 15px;
  height: 100%;
}

#right > section {
  display: flex;
}

#right > section > section {
  display: flex;
}

#projectSelector {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--border);
  padding: 5px 15px;
  cursor: initial;
}

@media screen and (min-width: 400px) {
  
  #left > nav {
    display: flex;
    gap: 15px;
  }

  #left > nav > a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.15s;
  }

  #left > nav > a:not(.selected):hover {
    background-color: #d9deed;
  }

  .selected {
    background-color: var(--link-selected);
    font-weight: 400;
  }

}

@media screen and (min-width: 720px) {
  
  #accountButton {
    border-radius: 5px;
  }

  #nameContainer {
    display: flex;
    color: var(--text);
  }

  #right {
    justify-content: space-between;
    flex-grow: 1;
  }

  #right > section, #right > section > section {
    flex-grow: 1;
    justify-content: right;
  }

}