.label {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 0 5px;
  box-shadow: var(--box-shadow-default);
}

.colorBubble {
  background-color: var(--button);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  padding: 0;
  display: flex;
  flex-shrink: 0;
}

.colorBubble:hover > span {
  display: inline-block;
}

.colorBubble > span {
  font-size: 15px;
  display: none;
}

.colorBubble + span {
  overflow-wrap: anywhere;
}

.label > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.inputContainer {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: var(--input-padding);
  box-sizing: border-box;
  background-color: var(--background-input);
  font-weight: 100;
  font-size: 16px;
  gap: 10px;
  flex-wrap: wrap;
}

.inputContainer > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.inputContainer > ul > li:last-of-type {
  flex-grow: 1;
}

.inputContainer > ul > li > input {
  border: none;
  background-color: transparent;
  padding: 0;
}

.inputSuperContainer {
  position: relative;
}

.results {
  position: fixed;
  background-color: var(--background);
  padding: 0;
  list-style: none;
  width: calc(100% - 30px);
  margin: 15px 0 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  box-sizing: border-box;
  overflow: auto;
  max-height: 184px;
}

.results > li {
  margin: 5px;
}

.results button {
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
  background-color: var(--background);
  color: var(--text);
  gap: 10px;
  border-radius: 5px;
}

.results button:hover {
  box-shadow: var(--box-shadow-default);
}

.results button :global(.material-icons) {
  font-size: 14px;
}