#task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task a {
  color: var(--text);
  text-decoration: none;
}

#task > button {
  background-color: transparent;
  height: 100%;
  color: var(--text);
  height: 30.1px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

#task > span {
  display: flex;
  gap: 10px;
  align-items: center;
}

#task > span > span {
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  flex-shrink: 0;
}