#main {
  padding: 0 15px;
  position: relative;
  top: calc(0px - var(--height-header));
  height: calc(100% - var(--height-header));
  display: flex;
  flex-direction: column;
  z-index: 0;
}

#noTasksMessage {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

#taskList {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}

#taskListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  overflow-y: auto;
  height: 100%;
  flex-shrink: 1;
}