:root {
  --article: #313237;
  --background: #ffffff;
  --background-box: #fffffff0;
  --background-header: #f5f4f4b8;
  --background-info: #f1f1f1;
  --background-input: #eff1f3;
  --background-popup: #0000009f;
  --background-popup-box: #eaeaea;
  --border: #e0e2e6;
  --border-default: 1px solid var(--border);
  --button: #31b768;
  --button-border: #2ea15e;
  --button-hover: #69b65c;
  --button-disabled: #b8b8b8;
  --grid: #f8f9fb;
  --height-header: 51px;
  --link: #2e871e;
  --text: #5f6368;
  --text-important: #101010;
  --box-shadow-default: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --formatter-selected: #aae9ba;
  --placeholder: #6c6c6e;
  --input-min-height: 47.2px;
  --input-padding: 10.6px;
  --destructive: #f65151;
  --box-radius: 5px;
  --sidebar-button: #ffffff;
  --sidebar-width: 300px;
}

.dark {
  --background: #282828;
  --background-box: #1c1c1c;
  --background-header: #1b1c1be8;
  --background-info: #1f1f1f;
  --background-input: #171717;
  --background-input-header: #2e2f2e;
  --background-popup-box: var(--background-box);
  --border: #101010b0;
  --border-default: 1px solid var(--border);
  --destructive: #a33030;
  --grid: #242424;
  --text: #bcbcbc;
  --text-important: #e3ebe3;
  --button: #2d4f24;
  --button-disabled: #434343;
  --box-shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --sidebar-button: #365336;
}

html {
  height: 100vh;
}

body, #root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

:focus-visible {
  outline: none;
}

html, body, button, input, textarea {
  font-family: "Lexend Deca";
}

p {
  font-weight: 100;
}