:root {
  --article: #313237;
  --background: #ffffff;
  --background-box: #fffffff0;
  --background-header: #f5f4f4b8;
  --background-info: #f1f1f1;
  --background-input: #eff1f3;
  --background-popup: #0000009f;
  --background-popup-box: #eaeaea;
  --border: #e0e2e6;
  --border-default: 1px solid var(--border);
  --button: #31b768;
  --button-border: #2ea15e;
  --button-hover: #69b65c;
  --button-disabled: #b8b8b8;
  --grid: #f8f9fb;
  --height-header: 51px;
  --link: #2e871e;
  --text: #5f6368;
  --text-important: #101010;
  --box-shadow-default: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --formatter-selected: #aae9ba;
  --placeholder: #6c6c6e;
  --input-min-height: 47.2px;
  --input-padding: 10.6px;
  --destructive: #f65151;
  --box-radius: 5px;
  --sidebar-button: #ffffff;
  --sidebar-width: 300px;
}

.dark {
  --background: #282828;
  --background-box: #1c1c1c;
  --background-header: #1b1c1be8;
  --background-info: #1f1f1f;
  --background-input: #171717;
  --background-input-header: #2e2f2e;
  --background-popup-box: var(--background-box);
  --border: #101010b0;
  --border-default: 1px solid var(--border);
  --destructive: #a33030;
  --grid: #242424;
  --text: #bcbcbc;
  --text-important: #e3ebe3;
  --button: #2d4f24;
  --button-disabled: #434343;
  --box-shadow-default: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --sidebar-button: #365336;
}

html {
  height: 100vh;
}

body, #root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

:focus-visible {
  outline: none;
}

html, body, button, input, textarea {
  font-family: "Lexend Deca";
}

body {
  margin: 0;
  line-height: 1.5;
  user-select: none;
  background: var(--background);
  transition: 0.3s;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, var(--grid) 1px, transparent 1px), linear-gradient(to bottom, var(--grid) 1px, transparent 1px);
}

a, b, p {
  transition: 0.1s;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--text-important);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--text-important);
}

span {
  transition: 0.3s;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
  font-weight: 100;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

textarea, p, li, section {
  font-size: 14px;
}

main {
  box-sizing: border-box;
}

form, form > section, form > section > section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form p {
  margin: 0;
}

form > section > h1 {
  margin: 0;
}

form > section > select {
  user-select: none;
}

textarea, input[type="text"], input[type="password"], input[type="email"], .input-with-prefix, section.input {
  padding: 10px;
  border-radius: 5px;
  border: var(--border-default);
  width: 100%;
  box-sizing: border-box;
  font-weight: 100;
  background-color: var(--background-input);
  color: var(--text);
}

textarea {
  height: 10rem;
  resize: none;
}

.input-with-prefix {
  display: flex;
  cursor: text;
  padding: 0;
  border: var(--border-default);
}

.input-with-prefix span {
  color: var(--text);
  padding: 10.6px 0 10.6px 10.6px;
  user-select: text;
}

.input-with-prefix > input[type="text"] {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin-top: 0;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

label {
  color: var(--text-important);
  display: block;
}

label > button {
  border-radius: 100%;
  border: 1px solid;
  color: gray;
  margin-left: 0.5rem;
  user-select: none;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  padding: 0;
  height: 25px;
  width: 25px;
}

label > button:hover {
  background-color: rgb(239, 239, 239);
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  background-color: var(--button);
  border: none;
  padding: 7px 15px;
  color: var(--text-important);
  font-size: 14px;
  transition: 0.1s;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  filter: brightness(.9);
}

input[type="password"] {
  letter-spacing: 2px;
}

article {
  user-select: text;
}

dt, b {
  color: var(--text-important);
}

u {
  text-decoration: none;
  border-bottom: 1px solid;
}

p, li, dd, .info {
  color: var(--text);
}

button.destructive, input.destructive {
  background-color: var(--destructive);
}

input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
  background-color: var(--button-disabled);
  color: var(--text);
  cursor: not-allowed;
}

.light input[type="submit"]:disabled, .light input[type="button"]:disabled {
  filter: saturate(0) brightness(1.25);
}

input[type="checkbox"] + label {
  color: var(--text);
  margin-top: 0;
}

#live-notifications {
  height: calc(100% - 5.5rem);
  width: calc(100% - 1rem);
  position: fixed;
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.leaving {
  opacity: 0;
  margin-top: 100px;
}

.info {
  background-color: var(--background-info);
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-weight: 100;
  border: var(--border-default);
}

div.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
  background-color: var(--background-input);
  border-radius: 5px;
  border: 2px solid #111111;
}

.monaco-editor .overflow-guard {
  border-radius: 5px;
}

button:active:hover, input[type="submit"]:active:hover, input[type="button"]:active:hover {
  filter: brightness(0.8);
}

.avatar {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.avatar-preview {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: block;
}

.optional {
  font-weight: 300;
  color: var(--text);
  margin-left: 7px;
}

.material-icons-round {
  user-select: none;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  cursor: text;
  color: var(--placeholder);
}

[type].invalid {
  border-color: #942525;
  color: #f66c6c;
}

.tabbed::after {
  border: 2px dashed var(--link);
  content: "";
  display: block;
  border-radius: 10px;
  position: absolute;
  left: -5px;
  box-sizing: border-box;
  right: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}

#everything {
  height: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

#content {
  display: flex;
  height: calc(100% - var(--height-header));
}

#explorer-breadcrumbs {
  justify-content: left;
  width: 100%;
  box-sizing: border-box;
}

#everything::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 830px) {
  
  main {
    width: calc(100% - var(--sidebar-width));
    display: inline-block;
    position: relative;
    z-index: 0;
    height: calc(100% - var(--height-header));
  }

}

@media screen and (prefers-color-scheme: dark) {

  .system {
    --background: #282828;
    --background-box: #284228;
    --background-input: #3b5b3b;
    --border: #4f734f;
    --grid: #212221;
    --text: white;
    --text-important: #e3ebe3;
    --button: #2e871e;
    --sidebar-button: #365336;
  }

}