#assignees {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

#assignees button {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#background {
  display: none;
}

#background.open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#box {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  padding: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#details input {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-size: 28px;
  font-weight: 500;
  padding: 0;
  color: var(--text-important);
}

#details label {
  color: var(--text);
  display: block;
  font-weight: 200;
}

#description p {
  position: relative;
  word-wrap: break-word;
}

[placeholder]::after {
  content: attr(placeholder);
  cursor: text;
  position: absolute;
  top: 0;
}

#firstRow {
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#actions, #labels {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  margin: 0;
}

#labels li button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: rgb(236, 236, 236);
  padding: 4px 10px;
  border-radius: 15px;
  font-weight: 100;
  height: 28px;
  color: var(--text);
}

#labelAddButton {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  justify-content: space-between;
}

#options button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text);
}

#statusButtons {
  display: flex;
  align-items: center;
}

#statusButtons button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#statusButtons button:first-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#statusButtons button:last-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 40px;
}

@media screen and (min-width: 720px) {

  #background.open {
    background-color: rgba(63, 63, 63, 0.6);
    backdrop-filter: blur(3px);
  }

  #box {
    width: 80%;
    max-width: 1080px;
    height: 720px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

}