#main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#headingContainer {
  margin: 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#headingContainer > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#headingContainer h1 {
  margin: 0;
}

#headingContainer button {
  height: 40px;
  flex-grow: 1;
}

#main > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#main li button {
  width: 100%;
  text-align: left;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--background);
  color: var(--text);
  padding: 10px 40px;
}

@media screen and (min-width: 510px) {
  
  #headingContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #headingContainer > section {
    flex-direction: row;
  }

  #headingContainer button {
    flex-grow: 0;
  }

}